on:
  push:
    branches:
      - main

jobs:
  hello_world_job:
    name: A job to say hello
    runs-on: ubuntu-latest

    steps:
      - name: Hello world action step
        id: inference
        uses: tylerkoon/codoc@v0.0.3

      # Use the output from the `hello` step
      - name: Get the output time
        run: echo "${{ steps.inference.outputs.response }}"
